@charset "utf-8";

#knockoutTable {

}

#knockoutTable .left {	
	height: 50%;	
	position: relative;
	overflow: visible;
	
}

#knockoutTable .right {	
	height: 50%;	
	position: relative;
	overflow: visible;
}

#knockoutTable .node {	
	height:100%; 
	position:relative;
	overflow: visible;
}

#knockoutTable .knockoutTableHeader {
	text-align:center;
	font-size: 14px;
}

