@charset "utf-8";
/* CSS Document */

#html, body {
	font-family: "Microsoft Sans Serif";
	font-size: 8pt;
	
	margin: 0px auto;
	padding: 0px auto;
	height: 100%;
}

p {
	line-height: 12pt;
}

img {
	border-style: none;
}

img#bg {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

img#bgheader {
	position: relative/*absolute*/;
	width: 100%
			
}

a:link    {
	color: black;
	text-decoration: none;
} 
a:visited {
  	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: underline;
} 

#header {
	height: 175px;
	background-color: #851515;	
}

#headerLogin {	
	background-color: #851515;
}

#headerLogin a:link {
	color: #f0f0f0;
	text-decoration: none;
} 

#headerLogin a:visited {
	color: #f0f0f0;
	text-decoration: none;
} 

#center {
	position: relative;
	width: 75%;
	margin: 0px auto;	
	padding: 0px auto;
	background-color: #f0f0f0;
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;	
} 

.sponsorbar {
	height: 75px;
	width: 100%;
	position: relative;
	overflow: hidden;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	margin: 0px 0px 0px 0px;	
	background-color: #f0f0f0;
}

.sponsorAd {
	margin-top: 13px;
	margin-bottom: 13px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

#navigation {
	padding-top: 20px;
	color: #f0f0f0;
}

#navigation ul {
	margin-left: 0px;
	padding-left: 0px;
}

#navigation ul li {
	font-size: 9pt;
	list-style: none;
	margin-left: 0px;	
	margin-top: 15px;
	margin-bottom: 15px;		
	background-color: #851515;	
	color: #f0f0f0;
	font-weight: bold;
}

#navigation ul li a:link {
	color: #f0f0f0;
	text-decoration: none;
}

#navigation ul li a:visited {
	color: #f0f0f0;
	text-decoration: none;
}

#navigation ul li ul li {
	list-style: none;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-right: 3px;
	background-color: #f0f0f0;
	text-align: right;
}

#navigation ul li ul li a:link    {
	color: black;
	text-decoration: none;
} 

#navigation ul li ul li a:visited {
	color: black;
	text-decoration: none;
} 

#content{	
	margin: 0px 0px 0px 0px;	
	height: 100%;
}

#titlebar {	
	padding-left: 19%;
	border-bottom: 2px solid black;
	height: 30px;
	background-color: #851515;
}

#titlebar h1 {
	margin: 0px 0px 0px 0px;
	font-size: 18pt;
	color: /*#e9e5c4*/#f0f0f0;	
}

#menubar {
	margin-top: 5px;
	margin-left: 0px;
	margin-right: 0px;
	border-bottom: 3px solid black;
	height: 28px;
}

#menubar ul {
	list-style: none;
	margin:0px;
	padding: 0px;
}

#menubar li {
	float: left;
	margin: 0px 0px 0px 0px;
	text-align: center;
	width: 25%;
}

#menubar h2 {
	margin-top: 2px;
	margin-bottom: 0px;
	font-size: 9pt;
}

#leftside {
	float: left;
	width: 18%;
	height: 100%;
	margin-right: -1px;
	border-right: 1px solid #464646;	
}

#leftside p {
	margin-top: 6pt;
	margin-bottom: 3pt;
	font-size: 9pt;
}

#leftside .list {
	margin: 0px 0px 0px 0px;
}

#leftside .list li ul {
	list-style: none;
}

#rightside{
	float: right;
	width: 82%;
	height: 100%;
}

.panel {	
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	
	overflow: hidden;
}

.panel h1 {
	font-size: 16pt;
	margin-top: 0px;
	margin-bottom: 3px;
}

.panel h2 {
	font-size: 13pt;
	margin-top: 0px;
	margin-bottom: 0px;
}

.news {
	margin-bottom: 25px;
	line-height: 12pt;
}

.tableheader {
	text-align: left;
	background-color: #851515;
	color: white;	
	font-weight: bold;
}

.title {
	font-size: 10pt;
	/*color: #dd2424;*/
	color: #851515;
	font-weight: bold;
}


.bold {
	font-weight: bold;
}

.cleaner{
	clear: both;
	width: 100%;
	overflow:hidden;
}

.inactive {
	color: #777777;
}


.error {
	color: red;
}

.poule {
	width: 24%; 
	margin-left: 0.5%;
	margin-right: 0.5%;
	float: left;
}

.poule h1 {
	text-align: center;
}

#footer{
	position: relative;
	height: 40px;
	width: 100%;
	text-align:center;
	margin: 0px 0px 0px 0px;
	background-color: #851515;
	color: white;
}